.tree-list-title {
    text-align: center;
}

.tree-list-content {
    min-height: 303px;
    width: auto;
    border: 1px solid rgb(195, 195, 195);
    white-space: nowrap;
}

ul.tree-list-style {
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 3px 0 0 3px;
}

li.tree-list-style {
    list-style-type: none;
    margin: 4px 0 4px 11px;
}

span.tree-list-style {
    margin: 4px 0 4px 0;
}

.li-style.selectable {
    cursor: pointer;
}

.li-style.selectable:hover {
    background-color: rgb(230, 230, 230);
}

.li-display-none {
    display: none;
}

img.expand-collapse-padding {
    padding-right: 5px;
}
