.tree-list-title {
    text-align: center;
}

.tree-list-content {
    width: auto;
    height: 100%;
    border: 1px solid rgb(192, 192, 192);
    overflow: hidden;
}

.list-style-none {
    list-style-type: none;
    padding: 5px 0 5px 16px;
}

.li-width {
    width: 400px;
}

.li-style.selectable {
    cursor: pointer;
}

.li-style.selectable:hover {
    background-color: rgb(230, 230, 230);
    /* color: rgb(0, 86, 172);*/
    /* font-weight: bold; */
}

.li-display-none {
    display: none;
}