.tree-list-content {
    min-height: 303px;
    width: auto;
    white-space: nowrap;
    padding-top: 2px;
}

.root-node-ul {
    padding: 0 0 0 4px;
    margin-top: 2px;
}

ul.tree-list-style {
    list-style-type: none;
    padding-left: 10px;
}

li.tree-list-style {
    list-style-type: none;
    margin: 4px 0 4px 17px;
}

span.tree-list-style {
    margin: 4px 0 4px 0;
}

.span-style {
    cursor: pointer;
}

img.expand-collapse-padding {
    padding-right: 5px;
}
