<div class="config-area">
    <table>
        <tr><td><br /></td></tr>
        <tr><td><br /></td></tr>
        <tr><td><br /></td></tr>
        <tr><td><br /></td></tr>
        <tr>
            <td></td>
            <td style="width:1px"><div id="addGroupBtn"></div></td>
            <td style="width:1px"><div id="delGroupBtn"></div></td>
        </tr>
        <tr>
         <td colspan="3">
          <table id="groupDataTable">
            <thead>
              <tr>
                <th>[-/+]</th>
                <th>Group Name</th>
                <th>[-/+]</th>
                <th>JVM</th>
                <th>Web App</th>
                <th>Blank</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
         </td>
        </tr>
    </table>
</div>

<script type="text/javascript">

$(document).ready(function() {
    validator = $("#groupAddEditForm").validate({
        ignore: ":hidden"
    });

    /**
     * Callback to handle Group form specific data transformation
     */
    var groupJsonFormDataTransformerCallback = function(data) {
        var formJson = {};

        var nameMap = {};
        nameMap["id"] = "groupId";
        nameMap["name"] = "groupNameId";
        // nameMap["host"] = "hostNameId";

        $.each(data.applicationResponseContent.content, function(i, obj) {
            if (nameMap[i] !== undefined) {
                  formJson[nameMap[i]] = obj;
            }
        });
        return formJson;
    }

    //var jvmDataGrid = DataGrid({theme:"default",
    //                            header:["JVM Name", "Host Name", "Group Name"],
    //                            url:"v1.0/jvms/",
    //                            editDialog:ModalFormEditDialog({formId:"jvmAddEditForm",
    //                                                            title:"Edit JVM",
    //                                                            validator:validator}),
    //                            jsonFormDataTransformerCallback:jvmJsonFormDataTransformerCallback});

    //React.renderComponent(jvmDataGrid,
    //    document.getElementById("jvmDataGrid"));

    var groupAddModalDialog = ModalFormAddDialog({formId:"groupAddEditForm",
                                                  title:"Add Group",
                                                  validator:validator});

    React.renderComponent(ModalButton({label:"Add", modalDialog:groupAddModalDialog}),
        document.getElementById("addGroupBtn"));

    // React.renderComponent(DeleteItemWidget({dataGrid:groupDataGrid, url:"v1.0/groups/"}),
    //                      document.getElementById("delGroupBtn"));

    React.renderComponent(GenericButton({label:"The Generic Button", callback:groupAddModalDialog.show}),
        document.getElementById("addGroupBtn"));

});

</script>

<div style="display:none">
    <form id="groupAddEditForm" action="v1.0/v1/groups">
        <input id="groupId" name="id" type="hidden" />
        <table>
            <tr>
                <td>Name</td>
            </tr>
            <tr>
                <td><input id="groupNameId" name="aNewGroupName" type="text" maxlength="100" required></td>
            </tr>
        </table>
    </form>
</div>