<div class="config-area">
    <div>
        <span class="tool" id="delJvmBtn"></span>
        <span class="tool" id="addJvmBtn"></span>
    </div>
    <div id="jvmDataGrid"></div>
</div>

<div id="jvmEditDialog"></div>

<script type="text/javascript">

$(document).ready(function() {
    validator = $("#jvmAddEditForm").validate({
        ignore: ":hidden",

        rules: {
            "groupSelector[]": {
                required: true
            }
        },
        messages: {
            "groupSelector[]": {
                required: "Please select at least 1 group"
            }
        }
    });

    /**
     * Callback to handle JVM form specific data transformation
     */
    var jvmJsonFormDataTransformerCallback = function(data) {
        var formJson = {};

        var objFormIdMap = {id:"jvmId",
                            jvmName:"jvmNameId",
                            hostName:"hostNameId",
                            groups:"groupSelector[]"};

        $.each(data.applicationResponseContent, function(i, obj) {
            if (objFormIdMap[i] !== undefined) {
                if (i !== "groups") {
                    if (i === "id") {
                        formJson[objFormIdMap[i]] = obj.id;
                    } else {
                        formJson[objFormIdMap[i]] = obj;
                    }
                } else {
                    formJson[objFormIdMap[i]] = [];
                    for (var ii = 0; ii < obj.length; ii++) {
                            formJson[objFormIdMap[i]].push(obj[ii].id.id);
                    }
                }
            }

        });
        return formJson;
    }

    var jvmDataGrid = TocDataTable({theme:"default",
                                headerExt:[
                                  {sTitle:"jvmId", mData:"id.id", bVisible:false}, 
                                  {sTitle:"JVM Name", mData:"jvmName", tocType:"link"}, 
                                  {sTitle:"Host Name", mData:"hostName"}, 
                                  {sTitle:"Group Assignment",
                                   mData:"groups",
                                   tocType:"array",
                                   displayProperty:"name"}],
                                url:"v1.0/jvms/",
                                editDialog:ModalFormEditDialog({formId:"jvmAddEditForm",
                                                                title:"Edit JVM",
                                                                validator:validator,
                                                                className:"textAlignLeft"}),
                                jsonFormDataTransformerCallback:jvmJsonFormDataTransformerCallback});

    React.renderComponent(jvmDataGrid,
        document.getElementById("jvmDataGrid"));

    var jvmAddModalDialog = ModalFormAddDialog({formId:"jvmAddEditForm",
                                                title:"Add JVM",
                                                validator:validator,
                                                className:"textAlignLeft"});

    var groups = [];
    // TODO: Define a REST service that retrieves the group count so that
    // we don't have to retrieve the whole group info just to determine
    // if there are groups defined in the system.
    ServiceFactory.getGroupService().getGroups().then(

        function(response){
            groups = response.applicationResponseContent;
        },
        function(response) {
            $.errorAlert(JSON.stringify(response));
        }

    );

    var addJvmChecklistCallback = function() {
        if (groups.length < 1) {
            $.alert("There are no groups defined in the system. Please define one before adding a JVM.");
            return false;
        }
        return true;
    }

    React.renderComponent(ModalButton({label:"Add",
                                       modalDialog:jvmAddModalDialog,
                                       view:jvmDataGrid,
                                       checklistCallback:addJvmChecklistCallback}),
                                      document.getElementById("addJvmBtn"));

    React.renderComponent(DeleteItemWidget({dataGrid:jvmDataGrid, url:"v1.0/jvms/"}),
                          document.getElementById("delJvmBtn"));

});

</script>
<div style="display:none">
    <form id="jvmAddEditForm" action="v1.0/jvms">
        <input id="jvmId" name="id" type="hidden" />
        <table>
            <tr>
                <td>Name</td>
            </tr>
            <tr>
                <td>
                    <label for="jvmNameId" class="error"></label>
                </td>
            </tr>
            <tr>
                <td><input id="jvmNameId" name="jvmName" type="text" maxlength="100" required/></td>
            </tr>
            <tr>
                <td>Host</td>
            </tr>
            <tr>
                <td>
                    <label for="hostNameId" class="error"></label>
                </td>
            </tr>
            <tr>
                <td><input id="hostNameId" name="hostName" type="text" maxlength="50" required/></td>
            </tr>
            <tr>
                <td>
                    Group
                </td>
            </tr>
            <tr>
                <td>
                    <label for="groupSelector[]" class="error"></label>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="groupCombobox"></div>
                    <script>
                        groupService.getGroups().then(
                            function(response){
                                var data = response.applicationResponseContent;
                                React.renderComponent(DataMultiSelectBox({name:"groupSelector[]",
                                                                          data:data,
                                                                          key:"id",
                                                                          keyPropertyName: "id",
                                                                          val:"name",
                                                                          className:"data-multi-select-box"}),
                                                                          document.getElementById("groupCombobox"));
                            },
                            function(response) {
                                $.errorAlert(JSON.stringify(response), "Error");
                            }
                        );
                    </script>
                </td>
            </tr>
        </table>
    </form>
</div>