<table>
    <tr>
        <td>Name</td>
    </tr>
    <tr>
        <td><input id="jvmName" name="jvmName" type="text" maxlength="100"></td>
    </tr>
    <tr>
        <td>Host</td>
    </tr>
    <tr>
        <td><input id="hostName" name="hostName" type="text" maxlength="50"/></td>
    </tr>
    <tr>
        <td>
            Group
        </td>
    </tr>
    <tr>
        <td>
            <select id="groupName" name="groupName">
                <option value="Group 1">Group 1</option>
                <option value="Group 2">Group 2</option>
                <option value="Group 3">Group 3</option>
                <option value="Group 4">Group 4</option>
            </select>
        </td>
    </tr>
</table>