<table>
    <tr>
        <td><img src="public-resources/img/toc-banner-960px.jpg"/><br><br></td>
    </tr>
    <tr>
        <td><div id="tabsDiv"></div></td>
    </tr>
</table>


<script type="text/javascript">
    var jvmConfigArea = Area({theme:"default",
                              template: "public-resources/templates/jvm-config-area.html"});

    var groupConfigArea = Area({theme:"default",
                                template: "public-resources/templates/group-config-area.html"});

    var items = [{title:"JVM", content:jvmConfigArea},
                 {title:"Web Servers", content:""},
                 {title: "Web Apps", content:""},
                 {title: "Resources", content:""},
                 {title: "Group", content:groupConfigArea},
                 {title: "Role Mapping", content:""}];

    items = [{title:"Groups", content:""},
             {title:"Web Servers", content:""},
             {title: "Configure", content:Tabs({theme:"default-level-1", items:items, depth:1})}];

    React.renderComponent(Tabs({theme:"default", items:items, depth:0}), document.getElementById("tabsDiv"));
</script>