.gradle
build
bin
classes
.settings
.classpath
.project

/toc-build/jacoco.exec
/toc-build/toc-tomcat/logs
/toc-build/work
/toc-build/toc-tomcat/webapps
/jwala-webapp/src/main/webapp/gen
/jwala-services/logs/PropertiesStore
/jwala-webapp/node_modules
.idea/
*.iml
*.iws

