<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="null" threshold="null">

    <!-- Console Appender -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="${log4jproperties.CommonConversionPattern}\t%c{3}\t%m%n%X{SiemensHSLogContext}" />
        </layout>
    </appender>

    <!-- SPRING Appender -->
    <appender name="SPRING" class="com.siemens.med.hs.logging.HSDailyRollingFileAppender">
        <param name="File" value="logs/spring.log" />
        <param name="DateFormat" value="yyyyMMdd" />
        <param name="HeaderDateFormat" value="yyyy-MM-dd HH:mm:ss" />
        <param name="Header" value="CTO Log file\n" />
        <param name="MaxFileSizeBeforeRoll" value="100000000" />
        <!-- specify the layout -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="***LogEntry*** %d{yyyy-MM-dd HH:mm:ss}\t%c{2}\t%p\t%m%n%X{SiemensHSLogContext}%n" />
            <!-- <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}\t%c{2}\t%p\t%x\t%m%n" /> -->
        </layout>
    </appender>

    <appender name="TRACE_CTO" class="com.siemens.med.hs.logging.HSDailyRollingFileAppender">
        <param name="File" value="logs/traceCto.log" />
        <param name="DateFormat" value="yyyyMMdd" />
        <param name="HeaderDateFormat" value="yyyy-MM-dd HH:mm:ss" />
        <param name="Header" value="CTO Log file\n" />
        <param name="MaxFileSizeBeforeRoll" value="100000000" />
        <!-- specify the layout -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="***LogEntry*** %d{yyyy-MM-dd HH:mm:ss}\t%c{2}\t%p\t%m%n%X{SiemensHSLogContext}%n" />
            <!-- <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}\t%c{2}\t%p\t%x\t%m%n" /> -->
        </layout>
    </appender>

    <!-- TRACE Appender -->
    <appender name="TRACE" class="com.siemens.med.hs.logging.HSDailyRollingFileAppender">
        <param name="File" value="logs/trace.log" />
        <param name="DateFormat" value="yyyyMMdd" />
        <param name="HeaderDateFormat" value="yyyy-MM-dd HH:mm:ss" />
        <param name="Header" value="Common Components Log file\n" />
        <param name="MaxFileSizeBeforeRoll" value="100000000" />
        <!-- specify the layout -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="***LogEntry*** %d{yyyy-MM-dd HH:mm:ss}\t%c{2}\t%p\t%m%n%X{SiemensHSLogContext}%n" />
            <!-- <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}\t%c{2}\t%p\t%x\t%m%n" /> -->
        </layout>
    </appender>

    <!-- Turn off Error logger because everything is going to console. Having this on would generate duplicate error message in console. -->
    <logger name="errorLogger" additivity="false">
        <level class="com.siemens.med.hs.logging.LogLevel" value="OFF" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- Commoncomponents logger (ANA & GSM) -->
    <logger name="com.siemens.med.hs.commoncomponents" additivity="false">
        <level class="com.siemens.med.hs.logging.LogLevel" value="DEBUG_0" />
        <appender-ref ref="TRACE" />
    </logger>

    <!-- Commoncomponents logger (STA) -->
    <logger name="com.siemens.soarian.se" additivity="false">
        <level class="com.siemens.med.hs.logging.LogLevel" value="DEBUG_0" />
        <appender-ref ref="TRACE" />
    </logger>

    <!-- spring framework logger -->
    <logger name="org.springframework" additivity="false">
        <level class="com.siemens.med.hs.logging.LogLevel" value="DEBUG_4" />
        <appender-ref ref="SPRING" />
    </logger>

    <!-- CTO TCO logger -->
    <logger name="com.siemens.cto" additivity="false">
        <level class="com.siemens.med.hs.logging.LogLevel" value="DEBUG_4" />
        <appender-ref ref="TRACE_CTO" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- The root logger -->
    <root>
        <level class="com.siemens.med.hs.logging.LogLevel" value="ERROR" />
        <appender-ref ref="CONSOLE" />
    </root>
</log4j:configuration>
