.status-widget-container {
    width: 125px;
    float: left;
}

.status-label {
    display: inline-block;
    height: 18px;
    margin-top: 4px;
}

.error-indicator-button {
    float: right;
    display: inline-block;
}

.web-server-control-panel-widget {
    width: 100%;
    padding-right: 0px;
    text-align: right;
}

.web-server-control-panel-widget > button {
    display: inline-block;
    float: right;
    margin-left: 3px !important;
}