.status-widget-container {
    width: 125px;
    float: left;
}

.status-label {
    display: inline-block;
    height: 18px;
    margin-top: 4px;
}

.error-indicator-button {
    float: right;
    display: inline-block;
}

.web-server-control-panel-widget {
    width: 100%;
    padding-right: 0px;
    text-align: right;
}

.web-server-control-panel-widget > button {
    display: inline-block;
    float: right;
    margin-left: 3px !important;
}

.command-status-container {
    padding: 0 0 0 0 !important;
    border: 1px solid rgb(232, 176, 176) !important;
    position: relative !important;
}

.command-status-header {
    /* border: 1px solid rgb(174, 79, 81) !important; */
    border: none !important;
    background: #CC5C5C url("../../img/react/ui-redgradient.png") 50% 2% repeat-x !important;
    color: rgb(174, 79, 81) !important;
    padding: 1px 2px !important;
}

.command-status-content {
    min-height: 120px !important;
}

.command-status-td {
    vertical-align: top;
    min-width: 120px;
    color: rgb(154, 79, 81);
}

.command-status-background {
    background: url("../../img/react/x.png") right bottom no-repeat !important;
}

.command-status-close-btn {
    float: right;
    display: block;
    background: url("../../img/react/red-xbtn.png") no-repeat;
    width: 16px;
    height: 16px;
    border: none;
}

.command-status-close-btn.hover {
    border: 1px solid rgb(232, 176, 176);
    cursor: pointer;
}

.ui-icon-gear-custom {
    background-image: url("../../img/react/gear-icon.png") !important;
    background-position: -1px;
}