.group-config > table {
    width: 100%
}

.group-config > table > tbody > tr > td {
    width: 100%;
    text-align: left
}

.group-config > table > tbody > tr > td > div > input  {
    float: right
}