.status-widget-container {
    width: 105px;
    float: left;
}

.status-label {
    display: inline-block;
    height: 18px;
    margin-top: 4px;
}

.error-indicator-button {
    float: right;
    display: inline-block;
}