.attr-values-container {
    min-height: 303px;
    border: 1px solid rgb(195, 195, 195);
}

.resource-attr-toolbar {
    background-color: rgb(242, 242, 242);
    border-bottom: 1px solid rgb(195, 195, 195);
}

.attr-val-table-container {
    margin: 5px 5px 5px 5px;
}

.attr-val-table {
    width: 100%;
}

.name-text-field {
    min-width: 100%;
    border: none;
}

.val-text-field {
    min-width: 100%;
}