textarea.xml-editor {
     row: 15;
     width: 100%;
     resize: none;
     padding-top: 0 !important;
}

.toolbar-container {
    background: rgb(229, 229, 229);
    width: 100%;
}

/**
 * jquery-linedtextarea styles
 *
 * These were transferred here from jquery-linedtextarea.css since if they are in the said file, IE8 will not apply
 * the styles for some strange reason.
 */

 .linedwrap {
 	border: 0px solid #c0c0c0;
 	padding: 0;
 }

 .linedtextarea {
 	padding: 0px;
 	margin: 0px;
 }

 .linedtextarea textarea, .linedwrap .codelines .lineno {
 	font-size: 10pt;
 	font-family: monospace;
 	line-height: normal !important;
 }

 .linedtextarea textarea {
 	padding-right:0.3em;
 	padding-top:0.3em;
 	border: 0;
 	overflow: auto;
 }

 .linedwrap .lines {
 	margin-top: 0px;
 	width: 50px;
 	float: left;
 	overflow: hidden;
 	border-right: 1px solid #c0c0c0;
 	margin-right: 10px;
 }

 .linedwrap .codelines {
 	padding-top: 0;
 }

 .linedwrap .codelines .lineno {
 	color:#AAAAAA;
 	padding-right: 0.5em;
 	padding-top: 0.0em;
 	text-align: right;
 	white-space: nowrap;
 }

 .linedwrap .codelines .lineselect {
 	color: red;
 }