<table border="1">
    <thead>
        <th/>
        <th ng-repeat="header in jvmHeaders">{{header}}</th>
    </thead>
    <tbody ng-repeat="item in jvmItems">
        <tr>
            <td>
                <input type="button" value="+" ng-click="open = true" ng-show="open == undefined | open == false">
                <input type="button" value="-" ng-click="open = false" ng-show="open">
            </td>
            <td ng-repeat="field in jvmFields">{{item[field]}}</td>
        </tr>
        <tr>
            <td/>
            <td colspan="{{jvmFields.length}}">
                <div ng-show="open">
                    JVM Details
                </div>
            </td>
        </tr>
    </tbody>
</table>