<div ng-init="tab = 1">
    <ol id="toc">
        <li ng-class="{current:tab == 1}"><a href="#" ng-click="tab = 1"><span>JVMs</span></a></li>
        <li ng-class="{current:tab == 2}"><a href="#" ng-click="tab = 2"><span>Web Servers</span></a></li>
        <li ng-class="{current:tab == 3}"><a href="#" ng-click="tab = 3"><span>Configuration</span></a></li>
    </ol>
    <div class="tabs-panel" ng-show="tab == 1" ng-controller="aemJvmtableCtrl">

        <aem-jvmtable data="jvmItems"/>

    </div>
    <div class="tabs-panel" ng-show="tab == 2">
        <h2>Web Server Panel</h2>
        <p>Text...</p>
    </div>
    <div class="tabs-panel" ng-show="tab == 3">
        <h2>Configure Panel</h2>
        <p>Text...</p>
    </div>
</div>
