.tree-list-content {
    min-height: 303px;
    width: auto;
    padding-top: 2px;
    border: 1px solid white !important; /* overrides ui-widget-content's border property */
}

.root-node-ul {
    padding: 0 0 0 4px;
    margin-top: 2px;
}

.rtreelist-list {
    list-style-type: none;
    padding-left: 10px;
}

.rtreelist-list-item {
    list-style-type: none;
}

.rtreelist-list-item.no-children {
     margin: 4px 0 4px 17px;
}

span.rtreelist-list-item {
    cursor: pointer;
    margin: 4px 0 4px 0;
}

img.expand-collapse-padding {
    padding-right: 5px;
}