<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="null">

    <!-- Console Appender -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="${log4jproperties.CommonConversionPattern}\t%c{3}\t%m%n" />
        </layout>
        <param name="Threshold" value="ERROR"/>      
    </appender>
    
    <appender name="TRACE_TOC" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/traceToc.log" />
        <param name="DateFormat" value="yyyyMMdd" />
        <param name="HeaderDateFormat" value="yyyy-MM-dd HH:mm:ss" />
        <param name="Header" value="CTO TOC Log file\n" />
        <param name="MaxFileSizeBeforeRoll" value="100000000" />
        <param name="MaxBackupIndex" value="10" />
        <!-- specify the layout -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5r [%-5p] [%t:%x] [%c] %m%n" />
        </layout>
    </appender>

    <appender name="TRACE_XA" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/traceXa.log" />
        <param name="DateFormat" value="yyyyMMdd" />
        <param name="HeaderDateFormat" value="yyyy-MM-dd HH:mm:ss" />
        <param name="Header" value="CTO TOC Log file\n" />
        <param name="MaxFileSizeBeforeRoll" value="10000000" />
        <param name="MaxBackupIndex" value="10" />
        <!-- specify the layout -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5r [%-5p] [%t:%x] [%c] %m%n" />
        </layout>
        <param name="Threshold" value="ERROR"/>      
    </appender>

    <!-- CTO TCO logger -->
    <logger name="com.siemens.cto.aem.service.group.impl.LockableGroupStateMachine" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="TRACE_TOC" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- CTO TCO logger -->
    <logger name="com.siemens.cto" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="TRACE_TOC" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- CTO TCO logger -->
    <logger name="com.siemens.cto.aem.service.state.impl.GroupStateServiceImpl" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="TRACE_TOC" />
    </logger>

    <!-- CTO TCO logger -->
    <logger name="com.siemens.cto.aem.service.group.impl.GroupStateManagerTableImpl" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="TRACE_TOC" />
    </logger>

    <!-- CTO TCO logger -->
    <logger name="com.siemens.cto.aem.persistence.service.state.impl.JpaStatePersistenceServiceImpl" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="TRACE_TOC" />
    </logger>
    
    <!-- CTO TCO logger -->
    <logger name="com.siemens.cto.aem.service.state.jms.JmsStateNotificationServiceImpl" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="TRACE_TOC" />
    </logger>
    
    <!-- CTO TCO logger -->
    <logger name="com.siemens.cto.aem.commandprocessor" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="TRACE_TOC" />
    </logger>
    
    <!-- CTO TCO logger -->
    <logger name="com.atomikos" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="TRACE_XA" />
    </logger>

    <!-- CTO TCO logger -->
    <logger name="org.springframework" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="TRACE_TOC" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- CTO TCO logger -->
    <logger name="org.springframework.integration" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="TRACE_TOC" />
    </logger>

    <!-- CTO TCO logger -->
    <logger name="com.siemens.cto.aem.service.state" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="TRACE_TOC" />
    </logger>

    <!-- CTO TCO logger -->
    <logger name="com.siemens.cto.aem.ws.rest.v1.service.state" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="TRACE_TOC" />
    </logger>

    <!-- CTO TCO logger -->
    <logger name="org.springframework.web" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="TRACE_TOC" />
    </logger>

    <!-- The root logger -->
    <root>
        <level value="ERROR" />
        <appender-ref ref="CONSOLE" />
    </root>
</log4j:configuration>
