.war-upload-component {
    width: 100%;
}

.war-upload-component div.archive-file {
    float: left;
}

.war-upload-component div.eject-icon {
    float: right;
}

.war-upload-component div.file-upload {
    padding: 10px 0 0 0;
    width: 100%;
}

.webapp-config > table {
    width: 100%;
}

.war-upload-component .fileUploadContainer {
    display: inline-block;
}
