html *
{
   font-family:Siemens Sans;
   font-size:12
}

body {
    text-align: center;
}

.error {
    color: red
}

.ok {
    color: green
}

.textAlignLeft {
    text-align: left;
}

.tocTable {
  display:table;
  width:100%;
}
.tocRow {
  width:100%;
  display:table-row;
}
.tocRowContent { 
  width:90%;
  display:table-cell;
  vertical-align: middle;  
}
.tocRowIcons {
  min-width:55px;
  width:10%;
  display:table-cell;
}

.tocRowIcons img:hover { 
  -moz-box-shadow: 0 0 10px #ccc; 
  -webkit-box-shadow: 0 0 10px #ccc;
   box-shadow: 0 0 10px #ccc;    
}

.fileupload.row_selected {
    transition: all 0.2s ease;
    -webkit-animation: down-bump 0.4s ease;
    animation: down-bump 0.4s ease;
}

.fileupload:hover  {
   -webkit-animation: up-bump 0.4s ease;
   animation: up-bump 0.4s ease;
}

@-webkit-keyframes up-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 1.5em; }
  100% { padding-top: 2em; }
}
@-webkit-keyframes down-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 2.5em; }
  100% { padding-top: 2em; }
}
@keyframes up-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 1.5em; }
  100% { padding-top: 2em; }
}
@keyframes down-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 2.5em; }
  100% { padding-top: 2em; }
}

/**
 * CSS used specifically by AEM buttons
 */
.start-button {
    background-image: url(../img/icons/start.png);
    background-repeat:no-repeat;
    background-position:center;
    box-shadow:inset 0px 1px 0px 0px white;
    background-color:white;
    border:1px solid white;
    display:inline-block;
    color:white;
    height:16px;
    width:16px;
}.start-button:hover {
    background-image: url(../img/icons/start-hover.png);
    background-repeat:no-repeat;
    background-position:center;
}.start-button:active {
    position:relative;
    top:1px;
}

.start-button-busy {
    background-image: url(../img/busy-circular.gif);
    background-repeat:no-repeat;
    background-position:center;
    box-shadow:inset 0px 1px 0px 0px white;
    background-color:white;
    border:1px solid white;
    display:inline-block;
    color:white;
    height:16px;
    width:16px;
}

.stop-button {
    background-image: url(../img/icons/stop.png);
    background-repeat:no-repeat;
    background-position:center;
    box-shadow:inset 0px 1px 0px 0px white;
    background-color:white;
    border:1px solid white;
    display:inline-block;
    color:white;
    height:16px;
    width:16px;
}.stop-button:hover {
    background-image: url(../img/icons/stop-hover.png);
    background-repeat:no-repeat;
    background-position:center;
}.stop-button:active {
    position:relative;
    top:1px;
}

.stop-button-busy {
    background-image: url(../img/busy-circular.gif);
    background-repeat:no-repeat;
    background-position:center;
    box-shadow:inset 0px 1px 0px 0px white;
    background-color:white;
    border:1px solid white;
    display:inline-block;
    color:white;
    height:16px;
    width:16px;
}


.inline-block {
    display: inline-block;
}

.nowrap {
    white-space: nowrap;
}