html *
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px
}

body {
    text-align: center;
}

.error {
    color: red
}

.ok {
    color: green
}

.textAlignLeft {
    text-align: left;
}

.tocTable {
  display:table;
  width:100%;
}
.tocRow {
  width:100%;
  display:table-row;
}
.tocRowContent { 
  width:90%;
  display:table-cell;
  vertical-align: middle;  
}
.tocRowIcons {
  min-width:55px;
  width:10%;
  display:table-cell;
}

.tocRowIcons img:hover { 
  -moz-box-shadow: 0 0 10px #ccc; 
  -webkit-box-shadow: 0 0 10px #ccc;
   box-shadow: 0 0 10px #ccc;    
}

.fileupload.row_selected {
    transition: all 0.2s ease;
    -webkit-animation: down-bump 0.4s ease;
    animation: down-bump 0.4s ease;
}

.fileupload:hover  {
   -webkit-animation: up-bump 0.4s ease;
   animation: up-bump 0.4s ease;
}

@-webkit-keyframes up-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 1.5em; }
  100% { padding-top: 2em; }
}
@-webkit-keyframes down-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 2.5em; }
  100% { padding-top: 2em; }
}
@keyframes up-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 1.5em; }
  100% { padding-top: 2em; }
}
@keyframes down-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 2.5em; }
  100% { padding-top: 2em; }
}

/**
 * CSS used specifically by AEM buttons
 */
.busy-button {
    background-image: url(../img/busy-circular.gif);
    background-repeat:no-repeat;
    background-position:center;
    background-color:white;
    display: inline-block;
    position:relative;
    padding: 0;
    margin-right: .1em;
    cursor: pointer;
    overflow: visible;
    height:18px;
    width:18px;
    vertical-align:middle;
    border: 1px solid #c5dbec;
    color: #2e6e9e;
    font-weight: bold;
}

.inline-block {
    display: inline-block;
}

.nowrap {
    white-space: nowrap;
}

.text-align-right {
    text-align: right;
}

.accordion-title-text-position {
    position: absolute;
    left: 2.5em;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}

.header-component-label  {
    width:100px; /* Works fine for Chrome and Fire Fox */
    width:193px\9;  /* for IE8: This is a hack and it will change in the future once we have our own collapsing table made in React */
}

.disabled {
    color:gray !important;
}