table.simple-data-table {
    float: right;
    width: 95%;
    border: 1px solid gray;
    border-collapse:collapse;
    border-spacing:0px 0px;
}

table.simple-data-table tbody > tr > td {
    border: 1px solid gray;
    background-color: white
}
