.tabs-default {
    list-style: none;
    padding: 0;
}

.tabs-default > div > li {
    background-image: url(../../../../img/react/components/gray-tabs.png);
    float: left;
    padding-left: 10px;
}

.tabs-default > div > li > a {

    background-image: url(../../../../img/react/components/gray-tabs.png);
    background-position: right top;

    color: C0C0C0;
    float: left;
    line-height: 200%;
    padding-right: 10px;
    text-decoration: none;
    /* font-family: arial; */
    font-size: 13px;
}

.tabs-default > div > li.current {
    background-position: 0 -40px;
}

.tabs-default > div > li.current > a {
    line-height: 200%;
    background-position: 100% -40px;
    color: black;
    font-weight: bold;
}

.tabs-default-panel-selected {
    border: #C0C0C0 solid 1px;
    background: #E5E5E5;
	/* height: 542px;*/
	clear: left;
	position: relative;
	min-height: 610px;
	padding: 5px 5px 5px 5px
}